.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    font-family: var(--font-family), Arial, Tahoma, PingFangSC, sans-serif;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title, .title + .icon{
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

// Button types
.rounded {
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    border-color: rgba(22, 24, 35, 0.2);
    background-color: var(--white-color);

    &:hover {
        border-color: rgba(22, 24, 35, 0.3);
    }
}

.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 3px;
    border-color: var(--primary-color) ;
    &:hover {
        background: linear-gradient(0deg, rgba(0,0,0,0.06), rgba(0, 0, 0, 0.06)), var(--primary-color);
    }
}
.outline {
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 3px;
    border: 1px solid var(--primary-color);

    &:hover {
        background-color: rgba(254, 44, 85, 0.08);

    }
}


.text {
    background-color: var(--white-color);
    border: 1px solid #cccccc;
    &:hover {
        text-decoration: underline;
    } 
}

// Disable

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large{
    min-width: 140px;
    padding: 14px 16px;
}


