@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');


:root {
    --primary-color: #EF2950;
}

*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'IBM Plex Sans', 'san-serif';
    font-size: 1.6rem;
}