// Menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
        background-color: var(--white-color);
        width: 100%;
        text-align: left;
    }
        
}

.menu-popper {
    padding: 8px;

}

.menu-body {
    overflow-y: overlay;
}
// Menu item
.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: -2px;
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
            background-color: rgba(22, 24, 35, 0.06);

        }
}

// Header
.header {
    position: relative;
    flex-shrink: 0;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;

}
.header-title{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

