// Menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
        background-color: var(--white-color);
        width: 100%;
        text-align: left;
    }
        
}

.menu-popper {
    padding: 8px 0;
}
// Menu item
.menu-item {

    &:hover {
            background-color: rgba(22, 24, 35, 0.06);

        }
}
