.wrapper{
    --search-heigh: 46px;
    --search-border-radius: 92px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0 ;
    z-index: 10;
    display: flex;
        justify-content: center;
    width: 100%;
    height: var(--default-layout-header-heigh);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white-color);
    
}

.inner {
    
    height: 100%;
    padding: 0 var(--default-layout-header-horizontal-spacer);
    width: var(--default-layout-header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    display: flex;
} 

.search, .search-result {
    width: 500px;
}

.search {
    position: relative;
    display: flex;
    height: var(--search-heigh);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);

    input {
        flex: 1;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 21px;
        height: 100%;
        color: var(--black-color);
        background-color: transparent;
        padding: 0px;
        caret-color: var(--primary-color);
        border: 1.5px solid transparent;
        appearance: textfield;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: "";
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        height: calc(var(--search-heigh) - var(--search-top-spacer) * 2);
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
} 

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    color:rgba(22, 24, 35, 0.3);
    font-weight: 600;

}

.clear, .loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    
} 
.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2.4rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
        cursor: pointer;
    }

    &:active {
        background-color:rgba(22, 24, 35, 0.2);
    }
} 

// Actions
.actions {
    display: flex;
    align-items: center;

    
}

.more-btn {
    background-color: var(--white-color);
    font-size: 20px;
    cursor: pointer;
    font-style: normal;
    padding: 4px 8px;
    margin-left: 16px;
}

.action-btn {
    color: #161821;
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 12px;
    cursor: pointer;
}


.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border: 50%;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}